.super-search {
    background-color: #ffec80;
    padding: 3px;
}

.srch {
    background-color: #abc;
}

div#srchResults1 {
    width: 50%;
    float: left;
    background-color: #fef;
    overflow-y: auto;
    height:400px;
}
div#srchResults2 {
    overflow-y: scroll;
    background-color: #ffe;
    height:400px;
}

.convenientWidth {
    /*width: 60%;*/
    width: 960px;
}

.title {
    margin-bottom: 0;
}
