* {
    margin: 0;
}


html, body {
    height: 100%;
}

.voc-maker {
    background-color: #b3d9ff;
    padding: 3px;
}

.navigate {
    float: left;
    width: 50px;
    height: 100vh;
    text-align: center;
    position: fixed;
    cursor: pointer;
}

#moveLeft {
    background: url(../img/navigate_left_48.png) no-repeat center center;
    /*background-color: #f2f2f2;*/
    background-color: #e6ffe6;
}

#moveRight {
    margin-left: -20px;
    left: calc(100% - 30px);
    background: url(../img/navigate_right_48.png) no-repeat center center;
    /*background-color: #f2f2f2;*/
    background-color: #e6ffe6;
}

.info {
    width: calc(100% - 100px); /* Navigation panes and padding */
    min-height: calc(100vh);
    /* background-color: #ff9; */
    /* background-color: #f2f2f2; */
    background-color: #e6ffe6;
    float: left;
    padding: 10px;
    position: relative;
    left: 50px;
}

#settingsButton {
    position: relative;
    top: 0;
    left: calc(100% - 50px);
    width: 50px;
    height: 50px;
    background-color: green;
    background: url(../img/settings.png) no-repeat center center;
    float: left;
}

#settings {
    position: relative;
    top: 0;
    /* left: -50px; */
    /* float: left; */
    display: inline;
}

#audioPath {
    width: 500px;
}

input[type=checkbox],
input[type=radio] {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

input {
    padding: 10px;
}

button {
    padding: 6px;
    vertical-align: top;
}

#wordCard {
    position: relative;
    top: 0;
    float: left;
    left: -50px;
    width: calc(100% - 50px);
    /* padding: 25px; */
}

#vocabulary {
    width: 800px;
    height: 237px;
}

#word {
    font-size: 24pt;
    font-family: sans-serif;
    color: green;
}

a {
    text-decoration: none;
}

span.title {
    vertical-align: middle;
    font-size: 16pt;
}

.bre {
    /*color: #07255e;*/
    color: #a0bff8;
    font-family: serif;
    visibility: hidden;
}

.name {
    /*color: #8f0610;*/
    color: #fb9da3;
    font-family: serif;
    visibility: hidden;
}

.breLight {
    color: #a0bff8;
    font-family: serif;
}

.nameLight {
    color: #fb9da3;
    font-family: serif;
}

img {
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
}

#pos {
    color: #888;
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: sans-serif;
    padding-left: 64px;
}

#playAll {
    color: #aaa;
    margin-left: 10px;
    visibility: hidden;
}

#audioLinks {
	padding-left: 64px;
}

#transcription {
	margin-top: 5px;
    font-size: 16pt;
    color: #444;
    padding-left: 64px;
    font-family: sans-serif;
}

#translation {
	margin-top: 5px;
    font-size: 20pt;
    color: #444;
    margin-bottom: 12px;
    font-family: sans-serif;
}

#comment {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-style: italic;
    color: #777;
}

hr {
    color: #fff;
}

#examples {
    color: #077;
    margin-top: 8px;
    font-size: 16pt;
    font-family: sans-serif;
}

.progress2 {
    margin-top: 20px;
    text-align: right;
}

#progress {
    color: #ccc;
    text-decoration: underline;
}

#goTo {
    display: inline;
    float: left;
    margin-left: 30px;
}

#goToWord {
    font-size: 16pt;
}

#goToIndex {
    font-size: 16pt;
}

/**/

exmpl {
    font-weight: bold;
    color: limegreen;
}

exmpl-lnk {
    color: #39f;
}

oald8 {
    color: #426c95;
}

/* phr {
    text-decoration: underline;
    -moz-text-decoration-style: dotted;
         text-decoration-style: dotted;
    -moz-text-decoration-color: #32CD32;
         text-decoration-color: #32CD32;
} */

phr {
    border-bottom: 2px dotted #32CD32;
}

/**/

.tagButton {
    color: #bbb;
    background-color: #444;
}

.convenientWidth {
    width: 90%;
}

.convenientFont {
    font-size: 24px;
}

.split {
    list-style-image: url('../img/Devices-media-optical-audio-icon.png');
}

::-moz-selection {
    color: black;
    background: #9bf;
}

::selection {
    color: black;
    background: #9bf;
}

word-lnk {
    display: none;
}

.image-btn {
    background-color: rgb(230, 255, 230);
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    border: 0;
    /*float: left*/
}

.image-btn:disabled {
    display: none;
}

.back-btn {
    background-image: url("../img/back-btn.png");
}

.clear-btn {
	background-image: url("../img/delete48.png");
}

.fullscreen-btn {
	background-image: url("../img/fullscreen_grey_48x48.png");
	position: fixed;
    bottom: 20px;
	right: 20px;
}

see::before {
    content: "see '";
}

see::after {
    content: "'";
}

.description {
    color: #777;
    font-size: 1em !important;
}